@font-face {
  font-family: "Segoe WP";
  src: url("assets/segoe-wp-cufonfonts/SegoeWP.eot?") format("eot"),
  url("assets/segoe-wp-cufonfonts/SegoeWP.woff") format("woff"),
	url("assets/segoe-wp-cufonfonts/SegoeWP.ttf") format("truetype");
}

@font-face {
	font-family: "Asap";
	src: url("assets/asap/Asap-Regular.otf") format("otf"),
	url("assets/asap/Asap-Regular.eot?") format("eot"),
	url("assets/asap/Asap-Regular.otf") format("woff"),
	  url("assets/asap/Asap-Regular.otf") format("truetype");
	}
	
	@font-face {
		font-family: "PT Sans";
		src: url("assets/pt-sans/PTC55F.eot?") format("eot"),
		url("assets/pt-sans/PTC55F.woff") format("woff"),
		url("assets/pt-sans/PTS55F.ttf") format("truetype");
	}

	@font-face {
		font-family: "Open Sans";
		src: url("assets/open-sans/OpenSans-Regular.eot?") format("eot"),
		url("assets/open-sans/OpenSans-Regular.woff") format("woff"),
		url("assets/open-sans/OpenSans-Regular.ttf") format("truetype");
	}

body{
  max-width: 1300px;
	margin:0 auto;
	height: auto;
}

header{
  width: 100%;
  height: 565px;
}

.bg{
	position: relative;
  background-image:url("assets/Layer20.png");
  width: 100%;
  height:565px;
}

.logo{
	display: flex;
	align-items: center;
	margin-top:25px;
}

.logoImg1{
	position: absolute;
}

.logoImg2{
	position: relative;
	left:0px;
}

.logoText{
	position: relative;
	left:5px;
	margin:12px 0 0 10px;
	font-size: 41px;
	color: #ffffff;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: italic;
	text-align: center;
}

.mainNav span{
	font-size: 17px;
	color: #9b7d08;
	font-family:"Segoe WP";
	text-align: center;
}

.mainNav{
	position: relative;
	display: flex;
	align-items: center;
	max-width: 453px;
	height: 41px;
	background:#f5c505;
	justify-content: space-around;
	margin-top:70px;
	margin-right: 5px;
	z-index: 3;
}

.navItem a{
	text-decoration: none;
}
.navItem a:hover{
	background: #05f5dd;
	height: 41px;
	line-height: 41px;
	width: 100%;
	text-align:center;
	border:1px solid red;
}

.navItem a:hover span{
	color:white;
}

.logoAndNav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.navItem img{
	margin-right: 8px;
}

.navItem:first-child{
	min-width: 172px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navItem:nth-child(2){
	width: 133px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navItem:nth-child(3){
	width: 148px;	
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.navItem{
	border-right:1px solid rgba(155, 125, 8,0.3);
	line-height: 41px;

}

.container1{
	position: absolute;
	background: rgba(245, 197, 5,0.3);
	width: 453px;
	height: 41px;
	right: 13px;
	bottom: 9px;
	z-index: 2;
}

.container2{
	position: absolute;
	background: rgba(245, 197, 5,0.3);
	width: 453px;
	height: 41px;
	z-index: 1;
	right: 9px;
	bottom: 5px;
}

video{
	object-fit:cover;
}

.wrapperNav{
	position: relative;
}

.headerText{
  font-size: 63px;
  color: #f5c506;
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
}

.white{
	color:white;
}

.videoAndText{
	width: 82%;
	margin: 0 auto;
	margin-top:58px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	line-height: 1.2;
}

.s{
	display: flex;
	position: absolute;
	width: 32px;
	height: 57px;
	background-color: #f5c506;
	align-items: center;
	justify-content: center;
}

.s:first-child{
	left:0;
	top:300px;
}

.s:last-child{
	right:0;
	top:300px;
}

.s:hover{
	background: green;
}

video{
	object-fit:cover;
}

.textAboutVideo{
	position: relative;
	bottom:18px;
	right: 18px;
}

aside{
	height: 215px;
}

aside div div{
	font-size: 27px;
	letter-spacing: 0px;
	font-family: 'Segoe UI';
	font-weight: 300;
	text-align: center;
}

.aside{
	max-width: 1020px;
	margin:35px auto 0;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	height: 215px;
	line-height: 1.3;
	position: relative;
	flex-wrap: wrap;
}

.box{
	min-width:33.3%;
} 

.box:first-child img{
	position: relative;
	right:4px;
}

.box:first-child div{
	position: relative;
	left:8px;
	top:1px;
}

.box:nth-child(2) img{
	position: relative;
	left:10px;
}

.box:nth-child(2) div{
	position: relative;
	left:9px;
	top:2px;
}

.box:nth-child(3) img{
	position: relative;
	right:10px;
}

.box:nth-child(3) div{
	position: relative;
	right:8px;
	top:2px;
}

.box:first-child:before {
	content: '';
	width: 0;
	height: 215px;
	position: absolute;
	border: 0.5px solid lightgray;
	left:0%;
	top:-35px;
  } 
.box:nth-child(2):before {
	content: '';
	width: 0;
	height: 215px;
	position: absolute;
	border: 0.5px solid lightgray;
	left:33.3%;
	top:-35px;
} 
.box:nth-child(3):before {
	content: '';
	width: 0;
	height: 215px;
	position: absolute;
	border: 0.5px solid lightgray;
	left:66.6%;
	top:-35px;
} 
.box:nth-child(3)::after {
	content: '';
	width: 0;
	height: 215px;
	position: absolute;
	border: 0.5px solid lightgray;
	left:100%;
	top:-35px;
} 

.wrapperMain{
	background: url("assets/Layer10copy3.png");
	width: 100%;
	margin-top:-35px;
}

.sectionText span{
	color: #ffffff;
	font-family: "PT Sans";
	font-weight: 400;
	font-size: 37px;
	text-transform: uppercase;
}

.section1{
	margin: 0 auto;
	max-width: 1020px;
}

.sectionText{
	padding-top: 32px;
}

.bgtext{
	max-width: 340px;
	height: 230px;
	background: #ec9e03;
	position: relative;
}

.bgtext span{
	font-size: 29px;
	line-height: 38px;
	color: #ffffff;
	font-family: "Segoe WP";
	font-weight: 100;
}

.bgtext div{
	padding: 15px 0 0 25px;
}

.mainBox .shape{
	font-weight: 900;
	position: absolute;
	right:6px;
	bottom: 3px;
}

.shape button{
 background: none;
 border:none;
 font-weight: 900;
 font-size: 18px;
 color:white;
}

.bird .shape{
	font-weight: 900;
	position: absolute;
	right:3px;
	bottom:3px;
}

.shape button:hover{
	cursor: pointer;
}

.shape button:active{
	color:red;
}

.shape button:focus{
	outline: none;
}

.mainBox{
	display: flex;
}

.bird{
	width: 330px;
	height: 230px;
	background: #ec9e03;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

img[alt="bird"]{
	position: relative;
	top:10px;
	right: 1px;
}

.wrapperMainBox{
	display: flex;
	margin-top:40px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.bird span{
	position: absolute;
	font-size: 25px;
	line-height: 38px;
	color: #ffffff;
	font-family: "Segoe WP";
	font-weight: 100;
	right: 17px;
	top: 8px;
}

.date{
	width: 112px;
	height: 89px;
	background: #ddb101;
	margin-top:-3px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.numb{
	font-size: 51px;
	letter-spacing: 1px;
	line-height: 38px;
	color: #ffffff;
	font-family: "Segoe UI";
	font-weight: bold;
	position: relative;
	top:10px;
	left:4px;
}

.numb ~ span{
	font-size: 21px;
	letter-spacing: 0px;
	line-height: 38px;
	color: #b26529;
	font-family: "Segoe UI";
	position: relative;
	top:3px;
	left: 3px;
}

.wrapperSlider{
	position: relative;
	display: flex;
	justify-content: center;
}

.slider{
	width: 896px;
	height: 15px;
	border-radius: 7px;
	background-color: #ffffff;
	margin: 42px 0 0 25px;
	opacity: 0.48;
	
}

.slider ~div{
	width: 197px;
	height: 15px;
	border-radius: 7px;
	background-color: #ec9e03;
	position: absolute;
	bottom: 0;
	right: 450px;
}

.wrapperSection2{
	position: relative;
	width: 100%;
	height: 495px;
	background: url("assets/Layer32.png");
	margin-top:20px; 
}

.section2{
	max-width: 1020px;
	margin: auto;
}

.textSection2 span{
	font-size: 43px;
	color: #f5c506;
	font-family: "PT Sans";
	font-weight: 400;
	text-transform: uppercase;
	margin: auto;
}

.textSection2{
	display: flex;
	padding-top:42px;
}

.section2box{
	margin-top:50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.section2 ul{
	max-width: 390px;
	list-style: disc;
	font-size: 22px;
	color: #a9a9a7;
	font-family: "Open Sans";
	font-weight: 400;
	list-style: none;
	position: relative;
	right: 28px;
	top:1px;
}

li:before{
  content: '';
  display: inline-block;
  height:14px;
  width: 14px;
  vertical-align: middle;
  border-radius:50%;
  background-color:#f5c506;
	margin-right:5px;
	position: relative;
	top:13px;
	left:5px;
}

.section2 li{
	color:#f5c506;
	padding-top:25px;
}

.section2 li span{
	color:#a9a9a7;
	position: relative;
	top:16px;
	left: 20px;
  line-height: 1.1;
}

.device{
	position: relative;
	width:545px;
	display: flex;
	align-items:  center;
	justify-content: space-between;
}

.device img[alt="computer"]{
	position: relative;
	top:2px;
	left:18px;
}

div img[alt="tablet"]{
	position: relative;
	top:4px;
	right: 8px;
}

div img[alt="mobile"]{
	position: relative;
	top:4px;
	left:13px;
}

.circle{
	position: absolute;
	width: 116px;
	height: 116px;
	border-radius: 58px;
	background-color: #f5c506;
	font-size: 17px;
	color: #ffffff;
	font-family: "PT Sans";
	line-height: 116px;
	text-align: center;
	text-transform: uppercase;
	top:-41px;
	left:-3px;
}

footer{
	width: 100%;
	height: 65px;
	background:#4c4c4c;
}

.foot{
	max-width: 1020px;
	margin: auto;  
	position: relative;
}

.footLogo1{
	position:absolute;
}

.footLogo2{
	position: relative;
	top:1px;
	left: 1px;
}

.foot div{
	padding-top:10px;
	display: flex;
	align-items: center;
}

.foot div span{
	font-size: 29px;
	color: #ffffff;
	font-family: "Lucida Sans";
	font-style: italic;
	text-align: center;
	text-transform: uppercase;
	padding-left: 10px;
	position: relative;
	top:2px;
}

p{
	text-indent: 20px;
}

.none{
	display: none;
	margin-top:15px;
	position: relative;
	top:2px;
	left:20px;
}
.mobile{
	width: 276px;
	height: 42px;
	border-radius: 10px;
	background-color: #ffffff;
	line-height: 0.2;
}

.wrapperSlider{
	position: relative;
	left:48px;
}

.none input{
	width: 206px;
	height: 25px;
	border-radius: 10px 0 0 10px;
	background-color: #ffffff;
	border: 1px solid rgba(0,0,0,0.15);
}

.none input[type="submit"]{
	font-size: 15px;
	color: #ffffff;
	font-family: "Arial";
	height: 29px;
	width: 70px;
	background: #e1a01e;
	border-radius:0 10px 10px 0;
	border: none;
}

.mobile:nth-child(2){
	opacity: 0.7;
}

.mobile:nth-child(3){
	opacity: 0.6;
}

.slider ~div:hover{
	cursor: pointer;
}

header{
	box-shadow:inset 70px 70px 75px 70px rgba(0,0,0,1);
}

footer{
box-shadow: 0px -3px 3px -1px rgba(0,0,0,1);
position: relative;
}

aside{
	background: url("assets/white.png");
}

.bgwhite{
	margin: auto;
	position: absolute;
	width: 1300px;
	height: 35px;
	background:url("assets/white.png");
	top:565px;
	box-shadow: 0px -4px 4px -4px rgba(0,0,0,1);
}

.shadow{
	margin: auto;
	position: absolute;
	width: 1300px;
	height: 35px;
	top:745px;
	box-shadow: 0px 4px 4px -4px rgba(0,0,0,1);
}

img[alt="img"]{
	position: absolute;
	left:-10px;
	top:17px;
	transform: rotate(270deg);
}

@media screen and (max-width:1160px){
	.textAboutVideo{display: none;}
	.videoAndText{justify-content: center;}
	.sectionText{display: none;}
	.date{display: none;}
	.wrapperSlider{display: none;}
	.wrapperMainBox{justify-content: center;}
	.box:first-child:before,.box:nth-child(2):before,.box:nth-child(3):before,.box:nth-child(3)::after{
		display: none;
	}
	.aside{margin: 0; padding-top:35px;}
	.bgwhite{display: none;}
	.shadow{display:none;}
}



@media screen and (max-width:960px){
	.device ~ div{
		display: none;
	}
	.section2box{justify-content: center;}
	.container1{display: none;}
	.container2{display: none;}
	.mainNav{width: 455px; height: 60px;}
	.navItem{line-height: 60px;}
	.logoText{
		font-size: 19px;
		color: #ffffff;
		font-family: "Lucida Sans";
		font-style: italic;
		margin: 0;
	}
	.logoImg1, .logoImg2 {transform: scale(0.5);}
	header{
		min-width: 640px;
	}
	.videoAndText div video{
		width: 640px;
	}
	.videoAndText{margin-top:0;}
	.logoAndNav{height: 60px;}
	header{height: auto;}
	.bg{height: 385px;}
	.s{display: none;}
	.mainNav{margin: 0;}
	.logoAndNav{align-items: flex-start; justify-content: space-between;}
	.logo{margin: 0;position: relative; bottom: 10px; right: 10px;}
	.logoText{left: auto; position: relative; top:1px; right: 5px;}
	.wrapperSection2{height: 465px;}
}

@media screen and (max-width:640px){
	.aside{background: url("assets/white.png");height: 170px; padding: 0; align-items: baseline;}
	aside{height: 170px;}
	.aside div div{
		font-size: 23px;
		font-weight: 300;
	}
	.box img{transform: scale(0.8);}
	.box:first-child img{right: 16px;top:2px;}
	.box:nth-child(2) img{top:17px;}
	.bgtext{width:300px; position: relative; top:10px; right:5px;}
	.wrapperMain{background: none;}
	.mainBox div video{position: relative; top:10px; left:5px;}
	.bird{width: 100%; margin-top:18px; background: #f5c507; justify-content: space-around;}
	.navItem{position: relative; right: 10px; top:5px;}
	.box:first-child div{
		position: relative;
		left:auto;
		top:7px;
		right: 14px;
	}
	.box:nth-child(2) div{
		position: relative;
		top:5px;
	}
	.box:nth-child(3) div{
		position: relative;
		top:7px;
		left:2px;
	}
	.none{display: block;}
	.bird span{
		position: static;
		font-size: 13px;
		color: #8f8e8e;
		font-family: "Arial";
		line-height: 18px;
	}
	.numb22{display: none;}
	.shape button{
		display: none;
	}
	.shape .but{
		display: block;
		bottom: 15px;
	}
	.mobile{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bird img[alt="bird"]{
		position: relative;
		left:30px;
	}
	.wrapperSection2{
		margin-top:0;
	}
	.device{
		position: relative;
		top:22px;
		right: 10px;
	}
	.foot div span{	font-size: 17px;
		 	letter-spacing: 0px;
			color: #ffffff;
			font-family: "Lucida Sans";
			font-style: italic;
			text-align: center;
			padding-left:0;
	}
	.foot img {transform: scale(0.6)}
	.foot{position: relative; left:54px; bottom: 12px; }
}